{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h2>Riwayat Pesanan</h2>
  <table class="table">
    <thead>
      <tr>
        <th>ID Pesanan</th>
        <th>Tanggal Pesanan</th>
        <th>Total</th>
        <th>Status</th>
        <th>Aksi</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
      <tr>
        <td>{{ order.id }}</td>
        <td>{{ order.tanggal_order }}</td>
        <td>${{ order.get_total_harga_order }}</td>
        <td>{{ order.get_order_status_display }}</td>
        <td><a href="{% url 'toko:order-detail' order.pk %}" class="btn btn-info">Lihat Detail</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
