{% extends 'base.html' %}
{% load cart_template_tags %}
{% block content %}
<div class="container mt-5 mb-5">
  <h2>Detail Pesanan #{{ order.id }}</h2>
  <div class="row mt-4">
    <div class="col-md-5">
      <h3>Alamat Pengiriman</h3>
      <p>{{ order.alamat_pengiriman.nama_penerima }}</p>
      <p>{{ order.alamat_pengiriman.detail_alamat }}</p>
      <p>{{ order.alamat_pengiriman.kelurahan }}, {{ order.alamat_pengiriman.kecamatan }}</p>
      <p>{{ order.alamat_pengiriman.kabupaten }}, {{ order.alamat_pengiriman.provinsi }}</p>
      <p>{{ order.alamat_pengiriman.kode_pos }}</p>
    </div>
    <div class="col-md-5">
      <h3>Metode Pembayaran</h3>
      <p>{{ order.payment.get_payment_option_display }}</p>
      <h3>Metode Pengiriman</h3>
      <p>{{ order.get_delivery_method_display }}</p>
      <p><b>Total: {{ order.payment.amount|currency_idr }}</b></p>
    </div>
    <div class="col-md-2">
      <h5>Status Pembayaran</h5>
      <p>
              {% if order.payment.status == 'B' %}
                  <span class="badge bg-warning text-white">Belum di bayar</span>
              {% elif order.payment.status == 'S' %}
                  <span class="badge bg-success">Pembayaran berhasil</span>
              {% elif order.payment.status == 'F' %}
                  <span class="badge bg-danger text-white">Pembayaran gagal</span>
              {% endif %}
          </p>
      
    </div>
  </div>
  <h3>Produk</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Produk</th>
        <th>Jumlah</th>
        <th>Total Diskon</th>
        <th>Total Harga</th>
      </tr>
    </thead>
    <tbody>
      {% for item in order.produk_items.all %}
      <tr>
        <td>{{ item.produk_item.nama_produk }}</td>
        <td>{{ item.quantity }}</td>
        <td>
        {% if item.produk_item.harga_diskon %}
        <span class="text-danger"><del>{{ item.get_total_harga_item|currency_idr }}</del></span>
        {% else %}
        {{ 0|currency_idr }}
        {% endif %}
        </td>
        <td>{{ item.get_total_harga_setelah_diskon|currency_idr}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if order.payment.status == 'S' %}
    {% if request.user.is_staff %}
    <div class="row mt-3 mb-5">
      <div class="col">
        <!-- Button untuk mengubah status -->
        {% if order.status == 'P' %}
        <form action="{% url 'toko:update-order-status' order.id %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-success">Kirim</button>
        </form>
        {% elif order.status == 'S' %}
        <form action="{% url 'toko:update-order-status' order.id %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-info">Terima</button>
        </form>
        {% endif %}
      </div>
    </div>
    {% endif %}
  {% endif %}  

  {% if order.payment.status == 'B' %}
  <div class="mt-5 text-center">
      <a href="https://wa.me/6285819581914?text=Hallo%2C%20saya%20{{ user.username|urlencode }}%20sudah%20melakukan%20transfer%20pada%20website%20I-merce.%20Berikut%20Pesanan%20saya%3A%0A%0AID%20pesanan%3A%20{{ order.id }}%0ABarang%3A%0A{% for item in order.produk_items.all %}- {{ item.produk_item.nama_produk|urlencode }}%20(%20Jumlah%20barang%3A%20{{ item.quantity }}%20)%0A{% endfor %}%0ATotal%20harga%3A%20Rp.%20{{ order.get_total_harga_order|currency_idr }}%0A%0ATerima%20Kasih."
        class="btn btn-success profile-button">
          <i class="fa fa-whatsapp"></i> Konfirmasi Pembayaran
      </a>
  </div>
  {% elif order.payment.status == 'S' %}
      <div class="mt-5 text-center">
      <a href="https://wa.me/6285819581914"
        class="btn btn-success profile-button">
          <i class="fa fa-whatsapp"></i> Hubungi Admin
      </a>
  </div>
  {% endif %}


</div>
{% endblock content %}
