{% extends 'base.html' %}
{% load cart_template_tags %}

{% block content %}

<div class="container">
  <div class="d-flex justify-content-center">
    <div class="row justify-content-center">
      <div class="col pt-5 pb-5">
        <p>Total belanjaan kamu : <strong>{{ order.get_total_harga_order_with_shipping_cost|currency_idr }}</strong></p>
        <br />
        {% if is_paypal %}
        <div>{{ paypalform.render }}</div>
        {% else %}
        <div>Pembayaran COD atau Transfer Manual akan dilakukan sesuai instruksi berikut:</div>
        <ul>
          {% if payment_method == 'COD' %}
          <li>COD: Pembayaran akan dilakukan saat barang diterima.</li>
          <a href="{% url 'toko:produk-list' %}" class="btn btn-primary mt-3">Kembali ke Home</a>
          {% elif payment_method == 'manual' %}
          <li>Transfer Manual: Silakan transfer ke rekening berikut dan konfirmasikan pembayaran Anda.</li>
          <li>Nomor Rekening: 123456789 (Bank ABC)</li>
          <a href="{% url 'toko:produk-list' %}" class="btn btn-primary mt-3">Kembali ke Home</a>
          {% endif %}
        </ul>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock content %}
